/*************** tag selectors *****************/
  body {
    background-color: #EAF6F6;
    margin:30px;
  }
  hr{
    width: 10%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: silver;

  }

  a{
    text-decoration: none;
  }

  h1{
    color:#66BFBF
  }

  h3{
    color:#66BFBF
  }


/*please note that class and id selectors are more specific to an element*/
/**************class selectors******************/
/*uses a dot sign in fornt of the class defined on the element*/


.logo {
  height: 170px;
  width: 170px;
  border-radius: 100%;
  margin-right: 20px;
}

.logo:hover{
  background-color: gold;
}







/****************id selectors******************/
/uses a # sign in front of the id defined/



/difference between class and id selectors is that many elements can have the same class but id is unique and different elements cant share it/
